ERAG_DB_HOST=localhost
ERAG_DB_PORT=5472
ERAG_DB_NAME=erag_db
ERAG_DB_USER=erag_app
ERAG_MIGRATION_DB_URL=

ERAG_VAULT_ADDRESS=https://localhost:8200
ERAG_VAULT_CA_PATH=docker/certs/erag-local-root-ca.crt
ERAG_VAULT_ROLE_ID=
ERAG_VAULT_SECRET_ID=
